body{
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
}

.purple{
    background-color: #563d7c;
}

.logo a{
    color: white;
}

.logo-large{
    margin-top: 25%;
}

.separator-with-10-px{
    margin-top: 10px;
}

.separator-with-25-px{
    margin-top: 25px;
}

.separator-with-50-px{
    margin-top: 50px;
}

.padding-top-with-20-px{
    padding-top: 20px;
}

.padding-bottom-with-20-px{
    padding-bottom: 20px;
}





.search-result-item{
    margin-bottom: 26px;
}

.search-result-item h3{
    font-size: 18px;
    margin: 0;
    padding: 0;

}

.search-result-item span{
    font-size: 14px;
    padding-top: 1px;
    color: #006621;
    font-style: normal;
    padding-bottom: 3px;
    padding-top: 2px;
    display: inline-block;
}

.search-result-item a.dropdown-toggle{
    font-size: 14px;
    color: #006621;
}

.search-result-item p{
    font-size: small;
    margin-bottom: 0px;
}

.search-total{
    font-size: small;
}
