
.content{
    margin-top: 130px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.bg-h-blue{
    background-color: #7cb5ec;
}

.bg-h-purble{
    background-color: #563d7c;
}

.bottombar{
    margin-top: 10px;
}

answer{
    display: none;
    margin-top: 10px;
}

question{
    display: block;
}


pre > code {
    white-space: pre;
    margin-top: -1.5em;
    display: block;
}

pre{
    margin-bottom: 0px;
}

.toolbar{
    margin-top: 57px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: white;
    z-index: 0;
}
